<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          <div class="drop-zone-container">
            <div *ngIf="noFile; else filename">
              <div class="row">
                <div class="col-lg-12">
                  <p>Drop a file here</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <p>Or</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input class="upload-input" type="file" ng2FileSelect [uploader]="uploader"/>
                </div>
              </div>
            </div>
            <ng-template #filename>
              <img [src]="filePreviewPath" class="upload-img" *ngIf="filePreviewPath"/>
            </ng-template>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div style="margin: 10px 170px;">
              <button [disabled]="noFile" (click)="uploader.clearQueue()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="well result-zone">
          <div class="result-zone-container">
            <div *ngIf="noResult; else result" class="result-zone-placeholder">Prediction result will be shown here
            </div>
            <ng-template #result>
              <img [src]="resultImgPath" class="result-img"/>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div style="margin: 10px 150px;">
          <button [disabled]="noResult">
            Download
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" style="text-align: center; display: block">
  <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Process
  </button>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <!--[-->
    <!--{"id": -1, "name": "void", "rgb_values": [0, 0, 0]},-->
    <!--{"id": 0, "name": "Region above the retina (RaR)", "rgb_values": [128, 0, 0]},-->
    <!--{"id": 1, "name": "ILM: Inner limiting membrane", "rgb_values": [0, 128, 0]},-->
    <!--{"id": 2, "name": "NFL-IPL: Nerve fiber ending to Inner plexiform layer", "rgb_values": [128, 128, 0]},-->
    <!--{"id": 3, "name": "INL: Inner Nuclear layer", "rgb_values": [0, 0, 128]},-->
    <!--{"id": 4, "name": "OPL: Outer plexiform layer", "rgb_values": [128, 0, 128]},-->
    <!--{"id": 5, "name": "ONL-ISM: Outer Nuclear layer to Inner segment myeloid", "rgb_values": [0, 128, 128]},-->
    <!--{"id": 6, "name": "ISE: Inner segment ellipsoid", "rgb_values": [128, 128, 128]},-->
    <!--{"id": 7, "name": "OS-RPE: Outer segment to Retinal pigment epithelium", "rgb_values": [64, 0, 0]},-->
    <!--{"id": 8, "name": "Region below RPE (RbR)", "rgb_values": [192, 0, 0]},-->
    <!--{"id": 9, "name": "Fluid region", "rgb_values": [64, 128, 0]}];-->
    <ul style="list-style: none;">
      <li>
        <div class="square" style="background-color: rgb(128, 0, 0);"></div>&nbsp;&nbsp;Region above the retina (RaR)
      </li>
      <li>
        <div class="square" style="background-color: rgb(0, 128, 0);"></div>&nbsp;&nbsp;ILM: Inner limiting membrane
      </li>
      <li>
        <div class="square" style="background-color: rgb(128, 128, 0)"></div>&nbsp;&nbsp;NFL-IPL: Nerve fiber ending to
        Inner plexiform layer
      </li>
      <li>
        <div class="square" style="background-color: rgb(0, 0, 128)"></div>&nbsp;&nbsp;INL: Inner Nuclear layer
      </li>
      <li>
        <div class="square" style="background-color: rgb(128, 0, 128)"></div>&nbsp;&nbsp;OPL: Outer plexiform layer
      </li>
      <li>
        <div class="square" style="background-color: rgb(0, 128, 128)"></div>&nbsp;&nbsp;ONL-ISM: Outer Nuclear layer to
        Inner segment myeloid
      </li>
      <li>
        <div class="square" style="background-color: rgb(128, 128, 128)"></div>&nbsp;&nbsp;ISE: Inner segment ellipsoid
      </li>
      <li>
        <div class="square" style="background-color: rgb(64, 0, 0)"></div>&nbsp;&nbsp;OS-RPE: Outer segment to Retinal
        pigment epithelium
      </li>
      <li>
        <div class="square" style="background-color: rgb(192, 0, 0)"></div>&nbsp;&nbsp;Region below RPE (RbR)
      </li>
      <li>
        <div class="square" style="background-color: rgb(64, 128, 0)"></div>&nbsp;&nbsp;Fluid region
      </li>
    </ul>
  </div>
</div>

