<div class="row">
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-12">
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          <div class="drop-zone-container">
            <div *ngIf="noFile; else filename">
              <div class="row">
                <div class="col-lg-12">
                  <p>Drop a file here</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <p>Or</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <input class="upload-input" type="file" ng2FileSelect [uploader]="uploader"/>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <a [routerLink]="" (click)="sampleFile()">Dont have a file? use sample file</a>
                </div>
              </div>
            </div>
            <ng-template #filename>
              <video id="preview-video" class="result-img" [src]="filePreviewPath" (timeupdate)="timeUpdate($event)"
                     #previewVideo>
              </video>
            </ng-template>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-success btn-lg" style="width: 100%; margin-top: 225px"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Segment <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="well result-zone">
          <div class="result-zone-container">
            <div *ngIf="noResult; else result" class="result-zone-placeholder">Segmentation result will be shown here
            </div>
            <ng-template #result>
              <video id="result-video" class="result-img" [src]="resultImgPath" #resultVideo>
              </video>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div style="margin: 10px 150px;">

        </div>
      </div>
    </div>
  </div>
</div>

<hr color="white">
<div class="row">
  <div class="col-lg-1">
    <button type="button" class="btn btn-outline-danger btn-lg" [disabled]="noFile" (click)="clear()">
      Clear <i class="fa fa-trash"></i>
    </button>
  </div>
  <div class="col-lg-1" style="text-align: right">
    <button type="button" id="playpause-button" [disabled]="noFile" class="btn btn-primary btn-lg"
            (click)="playPause()" #playPauseButton>
      <i class="fa fa-play"></i>
    </button>
  </div>
  <div class="col-lg-9" style="text-align: center">
    <mat-slider style="width: 100%;" id="seekslider" min="0" max="100" step="1" [value]="sliderValue" [disabled]="noFile" (input)="vidSeek($event)" #seekslider></mat-slider>
  </div>
  <div class="col-lg-1" style="text-align: right">
    <button (click)="downloadFile()" class="btn btn-outline-primary btn-lg" [disabled]="noResult">
      <i class="fa fa-download"></i>
    </button>
  </div>
</div>
<hr color="white">
<div class="row">
  <div class="col-lg-12" style="text-align: center">
    By using this website you also agree to the <a href="#" (click)="openTncDialog(); $event.preventDefault()">Terms and Conditions</a>
  </div>
</div>
