<div class="row">
  <div class="col-lg-12">
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="well my-drop-zone">
      Drop a file here
    </div>
  </div>
</div>
<div class="row" style="text-align: center; display: block">
  <div class="col-lg-12">
    <span>Or</span>
  </div>
</div>
<div class="row" style="text-align: center; display: block">
  <div class="col-lg-12">
    <span style="margin-left: 15%">
    Select a file to upload : <input type="file" ng2FileSelect [uploader]="uploader"/>
      </span>
  </div>
</div>
<hr>
<div class="row" style="text-align: center; display: block">
  <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Upload
  </button>
</div>
<div class="row">

</div>

