<mat-card>
  <mat-card-header>
    <mat-card-title><strong>RelayNet: Retinal Layer and Fluid Segmentation
      of Macular Optical Coherence Tomography
      using Fully Convolutional Networks</strong></mat-card-title>
  </mat-card-header>
  <p style="text-align: justify"><strong>Author:</strong> ABHIJIT GUHA ROY, SAILESH CONJETI, SRI PHANI KRISHNA KARRI, DEBDOOT SHEET, AMIN KATOUZIAN, CHRISTIAN WACHINGER2 AND NASSIR NAVAB</p>
  <br>
  <app-model-upload></app-model-upload>
  <br>
  <p style="text-align: justify">
    <strong>Abstract: </strong>Optical coherence tomography (OCT) is used for non-invasive diagnosis of diabetic
    macular edema assessing the retinal layers. In this paper, we propose a new fully convolutional
    deep architecture, termed ReLayNet, for end-to-end segmentation of retinal layers and fluid
    masses in eye OCT scans. ReLayNet uses a contracting path of convolutional blocks (encoders)
    to learn a hierarchy of contextual features, followed by an expansive path of convolutional blocks
    (decoders) for semantic segmentation. ReLayNet is trained to optimize a joint loss function
    comprising of weighted logistic regression and Dice overlap loss. The framework is validated on a
    publicly available benchmark dataset with comparisons against five state-of-the-art segmentation
    methods including two deep learning based approaches to substantiate its effectiveness.
  </p>
</mat-card>
