<mat-card>
  <mat-card-header>
    <mat-card-title><span class="model-title"><strong>{{selectedModel?selectedModel.paper_title:''}}</strong></span>
    </mat-card-title>
  </mat-card-header>
  <p style="text-align: left">{{selectedModel?selectedModel.authors:''}}</p>
  <br>
  <app-model-upload [selectedModel]="selectedModel" (notify)="changeContent($event)"></app-model-upload>
</mat-card>
<mat-card *ngIf="stats && stats.color_map">
  <div class="row">
    <div class="col-lg-12">
      <table style="margin: 0px auto;">
        <tr>
          <th>
            Color
          </th>
          <th>
            Label
          </th>
          <th *ngIf="stats.volume_estimates">
            Volume Estimates(cubic mm)
          </th>
        </tr>
        <tr *ngFor="let label of stats.color_map">
          <td>
            <div class="square" [ngStyle]="{'background-color': 'rgb('+label.rgb_values+')'}"></div>
          </td>
          <td>
            <span>{{label.name}}</span>
          </td>
          <td *ngIf="stats.volume_estimates">
            <span>{{stats.volume_estimates[label.id]}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</mat-card>
