<div id="home">
  <div class="row">
    <div class="col-lg-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title><strong>Please select a model from below</strong></mat-card-title>
        </mat-card-header>
        <div class="banner-technologies">
          <div class="container">
            <app-model-selector (notify)="changeModel($event)"></app-model-selector>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-model-display></app-model-display>
    </div>
  </div>
</div>
